/* ========================= */
/* 공통 컨테이너 스타일      */
/* ========================= */

.data-visualization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9fafc; /* 배경 색상 */
  border: 1px solid #d1d5db;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

/* ========================= */
/* Tabs (버튼 컨테이너)      */
/* ========================= */

.buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
  padding: 0 30px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, #f9fafc, transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, #f9fafc, transparent);
  }
  .button:last-child {
    margin-right: 50px; /* 마지막 버튼 오른쪽 여백 추가 */
  }

}

.buttons-container:active {
  cursor: grabbing;
}

/* Tabs 버튼 스타일 */

.buttons-wrapper {
  display: flex;
  gap: 5px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f9f9f9;
  margin-right: 5px;
  white-space: nowrap;

  &:hover {
    background-color: #e0e0e0;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &.active {
    font-weight: bold;
    background-color: #fff;
    border-bottom: 2px solid #007bff; /* 선택된 탭 강조 */
    color: #007bff;
  }
}

/* ========================= */
/* Start ID와 Last ID 입력 필드 스타일 */
/* ========================= */
.inputs-container {
  display: flex;
  align-items: center; /* 세로로 가운데 정렬 */
  gap: 15px; /* 입력 필드와 버튼 사이의 여백 */
  padding: 1px 10px; /* 위아래 여백을 줄임, 좌우 여백도 설정 */

  label {
    font-size: 14px;
    color: #333;
    margin-right: 10px; /* 라벨과 입력 필드 간 여백 */
  }

  input {
    width: 150px; /* 입력 필드 크기 조정 */
    padding: 5px 10px; /* 입력 필드 내 여백 줄임 */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 8px;

    &:focus {
      border-color: #007bff;
      outline: none;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  /* 버튼을 가로로 정렬 */
  .button-container {
    display: flex;
    gap: 10px; /* 버튼들 사이에 여백 추가 */
  }

  button {
    padding: 5px 15px; /* 버튼의 패딩을 줄여서 여백 줄임 */
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
}



/* 좌우 네비게이션 버튼 */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 2;
  padding: 5px 10px;
  border-radius: 5px;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

/* ========================= */
/* Chart & Average 컨테이너  */
/* ========================= */

.chart-and-average-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%; /* 전체 너비를 90%로 조정 */
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.chart-container {
  flex: 2; /* 비율을 조정 */
  width: 65%; /* 너비 설정 */
  min-width: 60%;
  padding: 20px;
  margin: 0 auto; /* 가운데 정렬 */
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  canvas {
    max-width: 100%;
    display: block;
  }
}

.recharts-tooltip-wrapper {
  pointer-events: none;
  width: 300px;
  max-width: 300px;
  text-align: center;
}

.tooltip {
  white-space: pre-wrap;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
}

.tooltip p {
  margin: 5px 0;
}
.tooltip p:nth-child(3) {
  font-weight: bold;
}


.average-text {
  flex: 1; /* 비율을 조정 */
  width: 30%;
  min-width: 30%;
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* ========================= */
/* 반응형 디자인             */
/* ========================= */

@media (max-width: 1440px) {
  .chart-and-average-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }

  .chart-container {

    padding: 15px;
    width: 600px;
    margin-right: 20px;
  }

  .average-text {
    width: 90%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .chart-and-average-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .chart-container {
    width: 100%;
    padding: 10px;
    margin: 0;
  }

  .average-text {
    width: 100%;
    margin-top: 10px;
  }

  .buttons-container {
    padding: 0 15px;
  }
}