.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.inputField {
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginButton {
    width: 50%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #0056b3;
}
.signUpButton {
    margin-top: 10px; /* 버튼 간 간격 조정 */
    width: 50%;
    padding: 10px;
    background-color: #28a745; /* 회원가입 버튼 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signUpButton:hover {
    background-color: #218838; /* 버튼 호버 시 색상 변경 */
}
.signUpButton {
    margin-top: 10px; /* 버튼 간 간격 조정 */
    width: 50%;
    padding: 10px;
    background-color: #28a745; /* 회원가입 버튼 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signUpButton:hover {
    background-color: #218838; /* 버튼 호버 시 색상 변경 */
}
