.data-visualization-container {
    display: flex;
    flex-direction: column;  /* 세로 방향으로 요소 정렬 */
    align-items: center;     /* 중앙 정렬 */
    width: 100%;
}

.buttons-container {
    margin-bottom: 20px;     /* 버튼과 차트 사이의 간격 */
    text-align: center;
}

.chart-and-average-container {
    display: flex;
    flex-direction: row;     /* 차트와 평균값을 가로로 나열 */
    align-items: center;     /* 세로 중앙 정렬 */
    justify-content: space-between; /* 차트와 평균값 사이 간격 균등 배분 */
    width: 80%;              /* 전체 너비를 80%로 제한 */
    margin: 0 auto;          /* 중앙 정렬 */
}

.chart-container {
    flex-grow: 1;            /* 차트가 가능한 많은 공간을 차지 */
}

.average-text {
    min-width: 150px;        /* 평균값 텍스트의 최소 너비 */
    text-align: left;        /* 텍스트를 왼쪽 정렬 */
    margin-left: 1px;        /* 차트와의 간격 */
    margin-top: -20px;       /* 위로 약간 이동 */
    position: relative;      /* 위치를 상대적으로 설정 */
    top: -170px;             /* 위로 10px 이동 */
    left: -380px;             /* 왼쪽으로 10px 이동 */
}



.selected-data {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: left;
    width: 350px;
    position: absolute; /* 위치를 고정 */
    top: 30%; /* 차트 위쪽 절반에 위치 */
    right: 20%; /* 오른쪽으로 이동 */
}
.tooltip {
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Tooltip 반응형 스타일 */
.custom-tooltip-container {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    pointerEvents: 'none';
    width: 90%; /* 기본 너비 설정 */
    max-width: 400px; /* 최대 너비 제한 */
}

@media (min-width: 768px) {
    .custom-tooltip-container {
        width: 70%; /* 더 큰 화면에서는 너비 조정 */
    }
}

@media (min-width: 1024px) {
    .custom-tooltip-container {
        width: 50%; /* 더 큰 화면에서는 너비 조정 */
    }
}



